
*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin: auto;
}
main>div#a1{
    margin: auto;
    width: 980px;
    height: 500px;
    background-color: rgb(171, 171, 171);
    padding: 20px;
}
main>div#a1>div#g1{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap:20px 20px ;
    margin: auto;
    padding: 15px;
    background-color: rgb(84, 84, 84);
    width: 900px;
    height: 300px;
}
main>div#a1>div#g1>div#i1, div#i2, div#i3, div#i4{
    background-color: bisque;
}