.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
html{
    scroll-behavior: smooth
}
body{
    overflow-y: hidden;
    transition: scroll-behavior 0.4s ease-in-out;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
main{
    width: 100%;
    max-width: 1380px;
    margin: auto;
}
header{
    display: block;
    margin: auto;
    margin-bottom: 28px;
    padding: 0px;
    background-color: rgb(238, 238, 238);
}
header h1{
    font-family: "Roboto Condensed";
    font-weight: 500;
    text-align: left;
    display: block;
    margin: auto;
    margin-top: 0px;
    font-size: 1.5em;
    width: 80%;
    padding: 50px 0px;
    letter-spacing: 0.6px;
    line-height: 32px;
}

div#monalisa{
    background: black url(MonaLisa/FundoDetelaMonaLisa.png);
    width: 100%;
    height: 180px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 0px;
    background-repeat: no-repeat;
    background-position: 47% center;
    background-size: cover;
    border: 1px solid black;
}
#monachild{
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
}
#monachild img{
    width: auto;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.389);
    border-radius: 5%;
    border: 1px solid rgba(255, 255, 255, 0.441);
}
    img#a{height: 77%;} 
    img#b{height: 82%;}
    img#c{height: 87%;}
    img#d{height: 92%;}
    img#e{height: 87%;}
    img#f{height: 82%;}
    img#g{height: 77%;}

img, video, iframe {
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

img{
    border: 1px solid rgb(209, 209, 209);
    object-fit: cover;
    object-position: center;
    border-radius: 7px;
    box-shadow: 3px 3px 4px rgb(131, 131, 131);
}

h2, h3, h4{
    font-family: "Roboto Condensed";
}
main h3{
    font-weight: 600;
    font-size: 1.2em;
}
h2{
    font-size: 1.32em; font-weight: 500; letter-spacing: 0.2px;
}
p{
    font-weight: 400;
    font-size: 1.05em;
    letter-spacing: 0.7px;
}

div.intro{
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    overflow-y: hidden;
    background-color: white;
    background-image: linear-gradient(to top, rgb(228, 228, 228), rgba(255, 255, 255, 0));
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 0px;
}
div#resumo{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: auto;
    margin-bottom: 25px;
    padding: 0px 30px ;
}
div#resumo>h3{
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 4px;
    color: #1B140A;
    font-size: 1.2em;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 8px 0px;
    text-align: center;
    margin-bottom: 20px;
}

div#gatos{
    height: 310px;
    width: calc(100% - 60px);
    max-width: 850px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-radius:0px 0px 7px 7px;
    padding: 5px 0px;
    margin-bottom: 50px;
    overflow-x: auto;
    gap: 15px;
}
div#gatos>img{
    width: 140px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 4px rgb(204, 204, 204);
    border-radius: 8px;
    border: 1px solid rgb(198, 198, 198);
    filter: opacity(0.95) contrast(1.1);
}

.imgs, .imgs2, .imgs3{
    transition: filter 0.4s ease;
}
.maior>img, .maior2>img{
    width: 100%;
    height: 100%;
    transition: filter 0.4s ease-out;
    object-fit: cover;
    box-shadow: 3px 3px 4px rgb(131, 131, 131);
    border-radius: none;
}

footer{
    display: block;
    height: 185px ;
    margin: auto;
    background-color: black;
    color: white;
}