@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500; 1.500&display=swap');

@media only screen and (min-width: 1200px){
*{
    font-family: "Open Sans", sans-serif;
}
body{
    overflow-x: hidden;
}
header{
    display: block;
    margin: auto;
    background-color: rgb(238, 238, 238);
}
header h1{
    font-family: "Roboto Condensed";
    font-weight: 600;
    text-align: center;
    margin: 0px 5% 5px 5%;
    font-size: 1.8em;
    width: 90%;
    line-height: 45px;
    letter-spacing: 0.9px;
}
header>div#monalisa{
    background: black url(MonaLisa/FundoDetelaMonaLisa.png);
    width: 100%;
    height: 220px;
    padding: 0px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#monachild{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#monachild img{
    width: auto;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.389);
    border-radius: 5%;
    border: 1px solid rgba(255, 255, 255, 0.441);
    flex: none;
}
    img#a{height: 135px;} 
    img#b{height: 145px;}
    img#c{height: 155px;}
    img#d{height: 165px;}
    img#e{height: 155px;}
    img#f{height: 145px;}
    img#g{height: 135px;}

main{
    display: block;
    margin: auto;
}
main div{
    border-radius: 10px;
    align-self: auto;
    border: 1px solid black;
}
a{
    text-decoration: none;
}
img{
    border-radius: 10px;
    min-width: 100px;
}

main h2,main h3, main h4, div#votacao > h3 {
    color: rgb(50, 50, 50);
    font-family: "Roboto Condensed";
    font-size: 1.43em;
}
h2{font-size: 1.45em; margin-left: 35px;}

p{
    font-size: 1.08em; font-weight: 450; letter-spacing: 0.6px; line-height: 23px;
}
main h3{
    color: rgb(54, 54, 54);
    font-weight: 600;
    font-size: 1.25em;
}
img:hover{
    transform: scale(1.06);
    transition: transform 0.3s ease;
}
div#intro{
    display: block;
    line-height: normal;
    text-align: left;
    position: static;
    padding: 35px 0px 80px;
    margin: auto;
    width: 100%;
    background-image: linear-gradient(to top, rgba(206, 206, 206, 0.677), white);
    background-size: 100% 20%;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 0px;

}
    div#intro> h3{
        display: block;
        text-align: center;
        margin-bottom: 27px;
        color: rgb(65, 65, 65);
        font-size: 1.5em;
        border-radius: 10px;
        letter-spacing: 0.5px;
    }
    div#intro p{
        text-align: justify;
        width: 48%;
        letter-spacing: 0.8px;
    }

    div#sombrasSimpli{
        display: flex;
        flex-flow: row wrap;
        width: 90%;
        position: relative;
        margin: auto;
    }

    div#ss{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 850px;
        height: 400px;
        background-color: blue;
        align-self: flex-start;
    }

    div#ss > div.txt{
        width: 100%;
    }

    div#imgs_1{
        width: 45%;
        height: 350px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0px;
    }

    div#imgs_2{
        width: 45%;
        height: 350px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0px;
    }

    div#rel3d{
        display: flex;
        flex-flow: column wrap;
        width: 28%;
        height: auto;
        padding: 0px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
        
        div#rel3d>div.txt{
            width: 88%;
        }
        div#iframe{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            width: 100%;
        }

    div#pelagem{
        display: flex;
        width: 100%;
        height: 520px;
        flex-flow: row wrap;
        justify-content: space-evenly;
        background-color: red;
        margin-bottom: 30px;
    }
    div#pelagem>button{
        display: none;
    }
        div#pelossolidos{
            display: flex;
            flex-flow: row nowrap;
            width: 50%;
            height: 500px;
            padding: 0px;
            background-color: blueviolet;
        }
        div#pelossolidos>div.txt{
            width: 30%;
        }

        div#imgsPel{
            background-color: white;
            display: flex;
            height: 450px;
            width: 80%;
        }
        div#imgsPel>img{
            display: none;
        }

    div#folhas{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 30%;
        height: 500px;
    }

}