@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

@media only screen and (min-width: 375px){

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
    
*{
    font-family: "Roboto", sans-serif;
}
body{
    overflow-x: hidden; margin: 0px;
}
main{padding-bottom: 30px;}

header{
    display: block;
    margin: auto;
    padding: 0px;
    background-color: rgb(238, 238, 238);
}
header h1{
    font-family: "Roboto Condensed";
    font-weight: 500;
    text-align: left;
    display: block;
    margin: auto;
    font-size: 1.5em;
    width: 80%;
    padding: 50px 0px;
    letter-spacing: 0.6px;
    line-height: 32px;
}
div#monalisa{
    background: black url(MonaLisa/FundoDetelaMonaLisa.png);
    width: 100%;
    height: 180px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 0px;
    background-position: -123vw center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}

#monachild{
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
}
#monachild img{
    width: auto;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.389);
    border-radius: 5%;
    border: 1px solid rgba(255, 255, 255, 0.441);
    padding: 0px;
    margin: 0px;
}
    img#a{height: 77%;} 
    img#b{height: 82%;}
    img#c{height: 87%;}
    img#d{height: 92%;}
    img#e{height: 87%;}
    img#f{height: 82%;}
    img#g{height: 77%;}

main div{
    align-self: auto;
    border: 1px solid black;
}
a{
    text-decoration: none;
}
img{
    border-radius: 6px;
    width: 63px;
    box-shadow: 3px 3px 4px rgb(131, 131, 131);
}
h2, h3, h4{
    font-family: "Roboto Condensed";
}
h2{font-size: 1.32em; font-weight: 600;}
h3{ font-size: 1.2em;}
p{
    font-weight: 400;
    font-size: 1.05em;
    letter-spacing: 0.7px;
}
main h3{
    color: rgb(54, 54, 54);
    font-weight: 600;
    font-size: 1.2em;
}
div#intro{
    display: block;
    line-height: 1.5em;
    text-align: left;
    margin: auto;
    margin-bottom: 34px;
    padding: 40px 0px 40px;
    width: 100%;
    background-color: white;
    background-image: linear-gradient(to top, rgb(218, 218, 218), white);
    background-size: 100% 15px;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 0px;

}
    div#intro> h3{
        width: 80%;
        text-align: center;
        margin-bottom: 25px;
        margin-left: 10%;
        margin-top: 0px;
        color: rgb(65, 65, 65);
        font-size: 1.35em;
        border-radius: 6px;
    }
    div#intro p{
        margin: auto;
        text-align: justify;
        width: 80%;
        font-size: 1em;
    }

/*Classes para imagens*/
    .imgs{
        width: 100%;
        flex: 1 0 240px;
        height: 62vw;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .maior{
        width: 72%;
        height: 100%;
    }
    .maior>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .menor{
        display: flex;
        flex-flow: column;
        width: 20%;
        height: 100%;
        justify-content: space-between;
        align-items: flex-end;
        gap: 6%;
    }
    div.menor>img{
        width: 100%;
        height: 28%;
        flex: 1 0 auto;
        object-fit: cover;
    }
/*^^^^^^*/

    main> div#sombrasSimpli{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin: auto;
    }
div#ss{
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding-bottom: 12%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: linear-gradient(to top, rgb(218, 218, 218), white);
    background-size: 100% 15px;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 0px 1px 0px rgb(152, 152, 152) ;
}
    div.txt{
        width: 90%;
        position: relative;
        height: auto;
    }
    div#ss>div.txt>h2{
        margin-bottom: 27px;
        margin-top: 0px;
    }
    div#ss>div.txt>p{
        margin-bottom: 28px;
        margin-top: 0px;
    }
div#imgs_ss{
    width: 90%;
    height: 62vw;
    margin-bottom: 27px;
}
   

    div#imgs_2{
        width: 90%;
    }
   
    div#rel3d{
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: rgb(43, 43, 43);
        width: 100%;
        margin-bottom: 30px;
        box-shadow: inset 0 0 8px #0000006d, 7px 5px 7px rgba(0, 0, 0, 0.326);
    }
    div#rel3d>div.txt{
        width: 84%;
        margin-bottom: 15px;
    }
    /*
    span:hover{
        transform: scale(1.06);
        transition: transform 0.3s ease;
    }*/
        div#rel3d>div.txt>h3{
            align-self: flex-start;
            font-size: 1.5em;
            padding: 25px 0px;
            color: white;
            margin: 0px;
        }

        span#expand, span#collapse {
            position: absolute;
            top: 18px;
            right: 0px;
            width: 12.5%;
            color: white;
            font-size: 1.8em;
            text-align: center;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 7px;
            border: 1px solid black;
            background-color: rgb(35, 35, 35);
            box-shadow: 3px 3px 3px rgb(24, 24, 24);
        }
        span#expand{ z-index: 1;}
        
        span#collapse{ z-index:0;}

        div#rel3d>div.txt>p{
            color: white;
            display: block;
            text-align: justify;
            margin-top: 10px;
            font-size: 1.05em;
            line-height: 25px;
        }
        div#iframe{ 
            display: flex; 
            flex-flow: column wrap;}
            div#rel3d>div#iframe>iframe{
                margin-bottom: 21px;
                border-radius: 6px;
            }

    div#pelagem{
        width: 100%;
        padding: 0px 0px 40px 0px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        background-image: linear-gradient(to top, rgb(218, 218, 218), white);
        background-size: 100% 15px;
        background-repeat: no-repeat;
        background-position: bottom;
        box-shadow: 0px 1px 0px rgb(152, 152, 152) ;
    }
    div#pelossolidos{
        display: flex;
        flex-flow: row wrap;
        width: 90%;
        justify-content: center;
        margin-bottom: 20px;
        padding: 0px;
    }
    div#pelossolidos>div.txt{
        display: flex;
        width: 100%;
        flex-flow: column wrap;
        border: 1px solid black;
        padding: 0px;
    }
        div#pelossolidos>div.txt> h3{
            width: 70%;
            color: black;
            font-size: 1.3em;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 24px;
        }
        div#pelossolidos>div.txt> p{
            width: 100%;
            margin: 0px;
            margin-bottom: 20px;
            padding: 0px;
        }
        div#pelossolidos>div.txt>span{
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 11px;
            background-color: rgb(111, 111, 111);
            color: white;
            border-radius: 20%;
        }
    div#pelossolidos>div.imgs{
        width: 88%;
    }
    
    div#folhas{
        width: 90%;
        padding: 12px 0px;
        margin-top: -7px;
        border-radius: 0px 0px 10px 10px;
        background-color: rgb(52, 52, 52);
        box-shadow: inset 0 0 15px #0000006d;
    }
    main>div#sombrasSimpli>div#pelagem>div#folhas>h3{
        padding: 20px 7px;
        margin: 0px;
        margin-left: 7px;
        color:#91c049;
    }
    main>div#sombrasSimpli>div#pelagem>div#folhas>p{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        padding: 0px;
        color: white;
    }
    main>div#sombrasSimpli>div#pelagem>div#folhas>p>a{
        color:#A8DF54;
    }
    div#gFol{
        display: flex;
        gap: 12px;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
    }
    div#gFol>img{
        height: 110px;
        width: auto;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.247);
        border: 0.2px solid rgb(66, 66, 66);
    }

div#poligonos{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 0px 10px;
    background-image: linear-gradient(to top, rgb(224, 224, 224), white);
    border: none;
}
div#poligonos>div.txt{
    width: 85%;
}
div#poligonos>div.txt>p{
    margin-top: 0px;
    font-size: 1em;
}
    div#poligonos h2{
        height: 40px;
        margin-bottom: 8px;
    }
    div#gPol{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        border: none;
    }
    div#pol{
        width: 94%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 0px;
        margin-bottom: 0px;
        gap: 12px;
        padding-bottom: 28px;
        border-radius: 5px 5px 0px 0px;
        border: none;
    }

    div#pol>img{
        border: 1px solid white;
        box-shadow: 5px 5px 5px 0px rgb(136, 136, 136);
    }
    img#ind{
        min-width: 41%; 
        background-image: to top, black, white;
    }
    img#can{ min-width: 43.5%;}
    img#qua1{min-width: 90%;order:-1;}
    img#qua2{min-width: 90%;order:0;}
      
    div#rel3D2{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        position: relative;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 22px;
        box-shadow: 7px 5px 7px rgb(141, 141, 141);
        background-color: rgb(43, 43, 43);
        border-radius: 0px 0px 10px 10px;
        color: white;
    }
    div#rel3D2>div.txt{
        width: 82%;
        padding-bottom: 10px;
    }
    div#rel3D2>div.txt>h3{ 
        color: white;
        height: 45px; 
        font-size: 1.5em; 
        line-height: 45px;
        margin: 0px 0px 20px;
        font-weight: 500;
        align-self: flex-start; 
        border-radius: 8px;  
    }
    div#rel3D2>div.txt>span{
        position: absolute;
        top: 0px;
        right: 16px;
        height: 10px;
        width: 12.5%;
        color: white;
        font-size: 1.8em;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 23px;
        border-radius: 7px;
        border: 0.5px solid rgb(160, 160, 160);
        background-color: rgb(35, 35, 35);
        box-shadow: inset 3px 3px 4px rgb(24, 24, 24);
    }
    div#rel3D2>div.txt>p{
        text-align: justify;
        line-height: 25px;
        margin: 0px 0px 18px;
    }
    div#papercraft{
        width: 90%;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        border: none;
        gap: 5%;
        padding: 0px;
    }
    div#papercraft>iframe{
        margin-bottom: 20px; border-radius: 7px;
        flex: 1 0 auto;
        box-shadow: 5px 5px 5px 0px rgb(27, 27, 27);
    }
    div#papercraft img{
        min-width: 42%;
        flex: 1 0 auto;
        box-shadow: none;
    }

/*Triangulos Juntos*/
    div#triJ{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-bottom: 26px;
    }
    div#tri{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 90%;
        margin-bottom: 30px;
    }
    div#tri>h2{
        align-self: flex-start; margin-bottom: 30px;
    }
/*Mosaico de Triangulos*/
    div#mosaicoT{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    div#imgsT{
        width: 90%;
        height: 62vw;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    div#imgsT>div.maior{
        width: 72%;
        height: 100%;
    }
    div#imgsT>div.maior>img{
        width: 99%;
        object-fit: contain;
    }
    div#imgsT>div.menor{
        display: flex;
        flex-flow: column;
        width: 20%;
        height: 100%;
        justify-content: space-between;
        align-items: flex-end;
        gap: 6%;
    }
    div#imgsT>div.menor>img{
        width: 100%;
        flex: 1 0 auto;
        object-fit: cover;
        height: 28%;
    }
/*Mosaico de formas curvas*/
    div#mosaicFC{
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
    }
    div#mosaicFC>div.txt{
        height: auto;
    }
    div#mosaicFC>div{
        width: 88%;
        height: 400px;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    div#mosaicFC>div>img{
        min-width: 47%;
    }

aside{
display: flex;
justify-content: center;
}

div#gatos{
    display: flex;
    flex-flow: row wrap;
    width: 84%;
    padding: 20px;
    justify-content: center;
    gap: 15px;
    border-radius: 15px;
    background-color: rgb(81, 81, 81);
    background-image: linear-gradient(to bottom, rgb(174, 174, 174), rgb(214, 214, 214));
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.149);
}
    div#gatos>h3{
        font-size: 1.6em;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(86, 86, 86);
        padding: 20px;
        color: white;
        width: 100%;
        box-shadow: 4px 5px 5px rgb(139, 139, 139);
    }
    

    div#gatos> img{
        width: 139px;
        height: max-content;
        border-radius: 5px;
        box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.245);
    }
footer{
    display: block;
    padding: 20px;
    margin: auto;
    background-color: black;
    color: white;
}
footer> div#sobre{
    width: 90%;
    margin-left: 5%;
}}