@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500; 1.500&display=swap');

@media only screen and (min-width: 375px){
*{
    font-family: "Open Sans", sans-serif;
}
body{
    overflow-x: hidden;
}
iframe{
    flex: auto;
    width: 90%;
    height: 34vw;
    padding: 7px;
}
header{
    display: block;
    margin: auto;
    padding: 18px 0px 1px;
    background-color: rgb(238, 238, 238);
}
header h1{
    font-family: "Roboto Condensed";
    font-weight: 500;
    text-align: left;
    display: block;
    margin: 15px 7.5% 22px 7.5%;
    font-size: 1.8em;
    width: 85%;
    padding: 20px 0px;
}
header>div#monalisa{
    background: black url(MonaLisa/FundoDetelaMonaLisa.png);
    width: 100%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#monachild{
    height: 104px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    overflow-x: hidden;
}
#monachild img{
    width: auto;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.389);
    border-radius: 5%;
    border: 1px solid rgba(255, 255, 255, 0.441);
}
    img#a{height: 81px;} 
    img#b{height: 87px;}
    img#c{height: 93px;}
    img#d{height: 99px;}
    img#e{height: 93px;}
    img#f{height: 87px;}
    img#g{height: 81px;}

main div{
    border-radius: 7px;
    align-self: auto;
}
a{
    text-decoration: none;
}
img{
    border-radius: 7px;
    width: 63px;
}
main h2,main h3, main h4, div#votacao > h3 {
    color: rgb(50, 50, 50);
    font-family: "Roboto Condensed";
    font-size: 1.5em;
}
h2{font-size: 1.2em; margin-left: 35px;}

p{
    font-size: 1.2em;
    width: 90%;
    margin-left: 5%;
}
main h3{
    color: rgb(54, 54, 54);
    font-weight: 600;
    font-size: 1.2em;
}
div#intro{
    display: block;
    line-height: 1.5em;
    text-align: left;
    margin: auto;
    margin-bottom: 34px;
    padding: 40px 0px 40px;
    width: 100%;
    background-color: white;
    background-image: linear-gradient(to top, rgb(218, 218, 218), white);
    background-size: 100% 15px;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 0px;

}
    div#intro> h3{
        display: block;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 25px;
        color: rgb(65, 65, 65);
        font-size: 1.5em;
        border-radius: 6px;
    }
    div#intro p{
        margin: auto;
        text-align: justify;
        width: 80%;
        font-size: 1.1em;
    }
    main> div#sombrasSimpli{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        height: auto;
    }
div#ss{
    width: 94%;
    margin: auto;
    margin-left: 3%;
}
    main>div#sombrasSimpli>div#ss>h2{
        width: 100%;
        text-align: center;
        margin: 0px 0px 25px 0px;
    }
    main>div#sombrasSimpli>div#ss>p{
       text-align:left;
       margin-bottom: 25px;
    }
        div#imgs1{
            width: 94%;
            display: flex;
            flex-flow: row wrap;
            align-content: space-evenly;
            height: auto;
            margin-left: 3%;
            margin-bottom: 35px;
            gap: 26px;
        }
        div#imgs1>img{
            flex: auto;
            box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.326);
            height: max-content;
        }
            img#mulher1, img#mulher2 {
                width: 115px;
            }
            img#cavalo{
                margin-left: -13px;
                width: 98px;
                order: 1;
                margin-left: 0px;
            }
            img#cavalo2{
                margin-left:-7px;
                width: 98px;
                order: 1;
            }

    div#rel3d{
        display: flex;
        flex-flow: column nowrap;
        background-color: rgb(43, 43, 43);
        width: 80%;
        margin: 0px 0px 30px 7%;
        padding: 12px;
        box-shadow: inset 0 0 8px #0000006d, 7px 5px 7px rgba(0, 0, 0, 0.326);
    }
        div#rel3d>h3{
            text-align: center;
            font-size: 1.5em;
            padding: 12px 10px;
            color: white;
            margin: 0px;
        }
        div#rel3d>p{
            color: white;
            display: block;
            text-align: justify;
            margin-left: 5%;
            width:86%;
            padding: 7px;
        }
            main>div#sombrasSimpli>div#rel3d>iframe{
                display: block;
                margin: auto;
            }

    main>div#sombrasSimpli>div#pelagem{
        width: 96%;
        margin-left: 3%;
        padding: 0px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(211, 211, 211));
        border-radius: 10px;
    }
        div#pelagem h3{
            width: 90%;
            color: black;
            font-size: 1.4em;
            padding: 10px;
        }
    div#pelossolidos{
        display: flex;
        flex-flow: row wrap;
        width: 94%;
        justify-content: center;
        margin-left: 3%;
        margin-bottom: 20px;
        padding: 5px 0px;
        gap: 12px;
    }
    div#pelossolidos p{
        width: 100%;
    }
        div#pelossolidos > img{
            width: 132px;
            object-fit: contain;
            border-radius: 10px;
            border: 1px solid rgb(208, 208, 208);
            box-shadow: 5px 5px 10px 0px rgb(163, 163, 163);
        }
        div#pelossolidos > img#cat{
            order: 0;
        }
        div#pelossolidos > img#lion{
            order: 1;
        }
        div#pelossolidos > img#wolf{
            order: 1;
        }
        div#pelossolidos > img#dog{
        width: 132px;
        }

main>div#sombrasSimpli>div#pelagem>div#folhas{
    width: 84%;
    margin-left: 4%;
    padding: 12px;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(52, 52, 52);
    box-shadow: inset 0 0 15px #0000006d;
}
    main>div#sombrasSimpli>div#pelagem>div#folhas>h3{
        padding: 20px 7px;
        margin: 0px;
        margin-left: 7px;
        color:#91c049;
    }
    main>div#sombrasSimpli>div#pelagem>div#folhas>p{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        padding: 0px;
        color: white;
    }
    main>div#sombrasSimpli>div#pelagem>div#folhas>p>a{
        color:#A8DF54;
    }
    div#gFol{
        display: flex;
        gap: 12px;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
    }
    div#gFol>img{
        height: 110px;
        width: auto;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.247);
        border: 0.2px solid rgb(66, 66, 66);
    }

div#poligonos{
    width: 92%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 0px 10px;
    background-color: rgb(226, 226, 226);
}
    div#poligonos h2{
        display: block;
        height: 40px;
    }
    div#gPol{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
    }
    div#pol{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0px;
        margin-bottom: 30px;
        gap: 12px;
    }

    img#ind{
        width: 124px;
    }
    img#can{
        width: 131px;
    }
    img#qua1{
        width: 139px;
        order:1;
    }
    img#qua2{
        width: 139px;
        order:1;
    }

    div#rel3D2{
        width: 90%;
        height: 300px;
        margin-left: 5%;
        box-shadow: inset 0 0 15px #0000006d, 7px 5px 7px rgba(0, 0, 0, 0.326);
        background-color: rgb(43, 43, 43);
    }

aside{
width: 90%;
margin: 5%;
}

div#gatos{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    padding: 20px;
    gap: 30px;
    border-radius: 15px;
    background-color: rgb(81, 81, 81);
    background-image: linear-gradient(to bottom, rgb(174, 174, 174), rgb(214, 214, 214));
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.149);
}
    div#gatos>h3{
        font-size: 1.6em;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(86, 86, 86);
        padding: 20px;
        color: white;
        width: 100%;
        box-shadow: 4px 5px 5px rgb(139, 139, 139);
    }
    }

    div#gatos> img{
        width: 240px;
        height: max-content;
        border-radius: 5px;
        box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.245);
    }
footer{
    display: block;
    padding: 20px;
    margin: auto;
    width: 100%;
    background-color: black;
    color: white;
}
footer> div#sobre{
    display: block;
    margin: auto;
    width: 80%;
}