@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

@media only screen and (max-width: 576px){

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
    
*{
    font-family: "Roboto", sans-serif;
}
html, body{
     margin: 0px; overflow-x: hidden;
}
main{padding-bottom: 30px;}

header{
    display: block;
    margin: auto;
    padding: 0px;
    background-color: rgb(238, 238, 238);
}
header h1{
    font-family: "Roboto Condensed";
    font-weight: 500;
    text-align: left;
    display: block;
    margin: auto;
    margin-top: 0px;
    font-size: 1.5em;
    width: 80%;
    padding: 50px 0px;
    letter-spacing: 0.6px;
    line-height: 32px;
}
div#monalisa{
    background: black url(MonaLisa/FundoDetelaMonaLisa.png);
    width: 100%;
    height: 180px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 0px;
    background-position: -123vw center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}

#monachild{
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
}
#monachild img{
    width: auto;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.389);
    border-radius: 5%;
    border: 1px solid rgba(255, 255, 255, 0.441);
    padding: 0px;
    margin: 0px;
}
    img#a{height: 77%;} 
    img#b{height: 82%;}
    img#c{height: 87%;}
    img#d{height: 92%;}
    img#e{height: 87%;}
    img#f{height: 82%;}
    img#g{height: 77%;}

img, video, iframe {
    max-width: 100%;
    height: auto;
    }


main div{
    align-self: auto;
}
a{
    text-decoration: none;
}
img{
    border-radius: 7px;
    width: 63px;
    box-shadow: 3px 3px 4px rgb(131, 131, 131);
    border: 1px solid white;
}
h2, h3, h4{
    font-family: "Roboto Condensed";
}
h2{font-size: 1.32em; font-weight: 600;}
p{
    font-weight: 400;
    font-size: 1.05em;
    letter-spacing: 0.7px;
}
main>p{
    width: 90%;
    margin: auto;
}
main h3{
    color: rgb(54, 54, 54);
    font-weight: 600;
    font-size: 1.2em;
}
div#intro{
    display: block;
    line-height: 1.5em;
    text-align: left;
    margin: auto;
    margin-bottom: 34px;
    padding: 40px 0px 40px;
    width: 100%;
    background-color: white;
    background-image: linear-gradient(to top, rgb(218, 218, 218), white);
    background-size: 100% 15px;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 0px;

}
    div#intro> h3{
        width: 80%;
        text-align: center;
        margin-bottom: 25px;
        margin-left: 10%;
        margin-top: 0px;
        color: rgb(65, 65, 65);
        font-size: 1.35em;
        border-radius: 6px;
    }
    div#intro p{
        margin: auto;
        text-align: justify;
        width: 80%;
        font-size: 1em;
    }

/*Eestilo de imagens*/

.menor>img, .menor2>img, .menor3>img, .menor4>img{
    filter: brightness(75%) opacity(85%);
}

/*Classe 1 para imagens*/
    .imgs{
        width: 100%;
        flex: 1 0 220px;
        height: 57vw;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        border: none;
    }

    .maior{
        width: 72%;
        height: 100%;
        border: none;
    }
    .maior>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .menor{
        display: flex;
        flex-flow: column;
        width: 20%;
        height: 100%;
        justify-content: space-between;
        align-items: flex-end;
        border: none;
        gap: 6%;
    }
    div.menor>img{
        width: 100%;
        height: 28%;
        flex: 1 0 auto;
        object-fit: cover;
    }

/*Classe 2 para imagens*/
    .imgs2{
        width: 100%;
        flex: 1 0 300px;
        height: 74vw;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        border: none;
    }

    .maior2{
        width: 72%;
        height: 100%;
        border: none;
    }
    .maior2>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .menor2{
        display: flex;
        flex-flow: column;
        width: 20%;
        height: 100%;
        justify-content: space-between;
        align-items: flex-end;
        gap: 6%;
        border: none;
    }
    .menor2>div{
        width: 100%;
        height: 28%;
        flex: 1 0 auto;
    }
    div.menor2>img{
        width: 100%;
        height: 28%;
        flex: 1 0 auto;
        object-fit: cover;
    }

/*Classe 3 para imagens*/
    .imgs3{
        width: 100%;
       /*flex: 1 0 380px;*/
        height: 114vw;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: space-between;
        border: none;
    }

    .maior3{
        width: 100%;
        height: 68%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        border: none;
        background-color: rgb(244, 244, 244);
        overflow-x: hidden;
        gap: 7%;
        padding: 14px;
        padding-left: 15px;
        margin-left: 5%;
        border-radius: 7px 0px 0px 7px;
        box-shadow: 2px 2px 4px rgb(153, 153, 153);
    }
    .maior3>img{
        width: 80%;
        flex: 1 0;
        height: 76vw;
        margin: auto;
        object-fit: cover;
    }

    .menor3{
        display: flex;
        flex-flow: row nowrap;
        width: 96%;
        height: 24%;
        justify-content: space-between;
        align-items: center;
        border: none;
        margin-right: -6.2%;
        background-color: rgb(255, 255, 255);
        padding-left: 14px;
        border-radius: 6px 0px 0px 6px;
        box-shadow: 2px 2px 4px rgb(137, 137, 137);
    }
    div.menor3>img{
        max-width: 46%;
        height: 80%;
        flex: 1 0 auto;
        object-fit: cover;
        box-shadow: none;
        box-shadow: 2px 2px 4px rgb(153, 153, 153);
    }

/*Estilo para spans*/
span.botao{
    position: absolute;
    top: -2px;
    right: -9px;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 3.5%;
    border-radius: 7px;
    border: 2px solid rgb(158, 158, 158);
    background-color: rgb(35, 35, 35);
    box-shadow: 3px 3px 3px rgb(24, 24, 24);
}

    main> div#sombrasSimpli{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin: auto;
        border: none;
    }
/*Classe de bacground*/
.background{
    box-shadow: 3px 3px 6px rgb(179, 179, 179) ;
    border: 2px solid rgb(215, 215, 215);
    border-radius: 9px;
    background-color: rgb(238, 238, 238);
}

div#ss{
    width: 90%;
    margin: 0px;
    padding-bottom: 12%;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 3px 3px 6px rgb(179, 179, 179) ;
    border: 2px solid rgb(215, 215, 215);
    border-radius: 9px 9px 0px 0px;
    background-color: rgb(238, 238, 238);
}
    div.txt{
        width: 90%;
        position: relative;
        height: auto;
        border: none;
        padding: 25px 0px;
    }
    div#ss>div.txt>h2{
        margin-bottom: 27px;
        margin-top: 0px;
    }
    div#ss>div.txt>p{
        margin-bottom: 10px;
        margin-top: 0px;
    }
div#imgs_ss{
    width: 90%;
    margin-bottom: 32px;
}
   
    div#imgs_2{
        width: 90%;
    }
   
    div#rel3d{
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: rgb(43, 43, 43);
        background-image: linear-gradient(to bottom, rgb(13, 13, 13), rgb(43, 43, 43));
        width: 90%;
        border-radius: 0px 0px 9px 9px;
        padding-top: 20px;
        height: 60px;
        margin-bottom: 15px;
        overflow-y: hidden;
        border: 2px solid rgb(29, 29, 29);
    }
    div#rel3d>div.txt{
        width: 84%;
        margin-bottom: 0px;
        padding-top: 0px;
    }
        div#rel3d>div.txt>h3{
            align-self: flex-start;
            padding: 0px;
            padding-top: 3%;
            color: white;
            margin: 0px;
            margin-bottom: 22px;
            font-size: 1.35em;
        }
        
        span#expand{ z-index: 1;}
        
        span#collapse{ z-index:0;}

        div#rel3d>div.txt>p{
            color: white;
            display: block;
            text-align: justify;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 1.05em;
            line-height: 25px;
        }
        div#iframe{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            border: none;
        }
        div#iframe> div.out{
            width: 72vw;
            height: 70vw;
            margin-bottom: 21px;
            border-radius: 6px;
            border: 0.5px solid rgb(0, 0, 0);
            overflow-x: hidden;
            overflow-y: hidden;
        }
        div.out>iframe{
                height: 100%;
                width: 100%;
                transform: scale(1.8);
                transform-origin: center;
            }


    div#pelagem{
        width: 100%;
        padding: 0px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    div#pelossolidos{
        display: flex;
        flex-flow: row wrap;
        width: 90%;
        justify-content: center;
        padding: 20px 0px;
        height: 45px;
        overflow-y: hidden;
        border-radius: 0;
    }
    div#pelossolidos>div.txt{
        display: flex;
        width: 90%;
        flex-flow: column wrap;
        padding: 0px;
    }
        div#pelossolidos>div.txt> h3{
            width: 70%;
            color: black;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 24px;
            font-size: 1.35em;
        }
        div#pelossolidos>div.txt> p{
            width: 100%;
            margin: 0px;
            margin-bottom: 20px;
            padding: 0px;
        }
        div#pelossolidos>div.txt>span{
            background-color: rgb(137, 137, 137);
            box-shadow: 2px 2px 4px rgb(126, 126, 126);
            right: -7px;
        }
        div#imgsPel{
            max-width: 99%;
        }

/*Sombras de todas as formas*/
div#staf>h2{
    margin: auto;
    width: 90%;

}
h2.staf{
    color: rgb(100, 100, 100);
}
.o_cor{
    color: black;
}
/*Poligonos*/

    div#poligonos{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        padding: 0px;
    }
    div#gPol{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 90%;
        padding: 25px 0px;
        border-radius: 9px 9px 0px 0px;
    }
    div#gPol> h2{
        width: 90%;
        margin-bottom: 22px;
        margin-top: 0px;
        
    }
    div#gPol>p{
        width: 90%;
        margin-top: 0px;
        margin-bottom: 24px;
        font-size: 1em;
        padding: 0px;
    }
    div#pol{
        width: 94%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 0px;
        margin-bottom: 0px;
        gap: 12px;
        border-radius: 5px 5px 0px 0px;
        border: none;
    }
    div#pol>div.menor3{
        gap: 3.5%;
        background-color: rgb(243, 243, 243);
    }
    div#rel3D2{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: relative;
        width: 90%;
        padding-bottom: 20px;
        padding-top: 22px;
        box-shadow: 7px 5px 7px rgb(141, 141, 141);
        background-color: rgb(43, 43, 43);
        background-image: linear-gradient(to bottom, rgb(13, 13, 13), rgb(43, 43, 43));
        border-radius: 0px 0px 9px 9px;
        color: white;
        height: 40px;
        overflow-y: hidden;
    }
    div#rel3D2>div.txt{
        padding-top: 0px;
        width: 82%;
    }
    div#rel3D2>div.txt>h3{ 
        color: white;
        height: 45px;
        line-height: 45px;
        margin: 0px 0px 20px;
        font-weight: 500;
        align-self: flex-start; 
        border-radius: 8px; 
        font-size: 1.35em; 
    }
    div#rel3D2>div.txt>span{ 
        right: -11px;
    }
    div#rel3D2>div.txt>p{
        text-align: justify;
        line-height: 25px;
        margin: 0px 0px 20px;
    }
    div#rel3D2 em{
        color: #ffcd57;
    }
    div#lowpoly{
        width: 80%;
        height: 360px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        border: none;
        gap: 8%;
        padding: 22px 15px;
        margin: auto;
        overflow-x: hidden;
        background-color: rgb(30, 30, 30);
        border-radius: 12px 0px 0px 12px;
    }
    div#lowpoly>p{
        width: 100%;
        border: 1px solid blue;
    }
    div#lowpoly>iframe{
        width: 70%;
        height: 99%;
        border-radius: 7px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
    div#lowpoly>img{
        width: 70%;
        height: 99%;
        border-radius: 7px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
    div#rel3D2>p{
        width: 88%;
        margin: auto;
        margin-bottom: 24px;
    }
/*Triangulos Juntos*/
    div#triJ{
        width: 90%;
        margin: auto;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
    div#tri{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 90%;
        margin-bottom: 30px;
    }
    div#tri>h2{
        align-self: flex-start; 
        margin-bottom: 26px;
        padding-top: 10px;
    }

/*Formas curvas juntas*/
div#forJ{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 24px;
}
div#forJ>div.imgs{
    width: 90%;
    margin: auto;
}
div#forJ h2{
    width: 90%;
    margin: auto;
    padding: 24px 0px 26px;
}

/*Autores de circulos*/
div#autores{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 30px;
}
div#autores>h2{
    width: 85%;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 0px 20px;
    padding-left: 5%;
    font-size: 1.35em;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

div#tho{
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 26px;
    overflow-x: hidden;
    border-radius:0px;
}
div#tho>div.txt{
    margin-left: 0px;
}
div#oi{
    margin-bottom: 10px;
}
div#tho>div.txt{
    width: 90%;
    margin: auto;
    margin-left: 5%;
    padding: 10px 0px;
}

/*Trias Isa*/
div#tri{
    margin: auto;
    width: 90%;
    padding-bottom: 25px;
    padding-top: 24px;
    border-radius:0px;
}
div#tri>h2{
    margin: auto;
    width: 90%;
    margin-bottom: 26px;
    padding: 0px;
}
div#tri>p{
    margin: auto;
    width: 90%;
    margin-bottom: 26px;
    padding: 0px;
}
div#tri>div.imgs4{
    margin: auto;
    width: 90%;
}

/*Mosaicos*/

div#mosaicos>h2{
    width: 85%;
    padding: 20px 0px;
    padding-left: 5%;
    margin: auto;
    border-radius: 7px 7px 0px 0px;
    font-size: 1.35em;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    
}
    div#mosaicoT{
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 90%;
        margin: auto;
        padding: 0px 0px 25px;
        border-radius: 0px;
    }
    div#mosaicoT>div.txt{
        padding: 10px 0px 8px;
        padding-top: 10px;
        padding-bottom: 8px;
    }
    div#imgsT{
        width: 90%;
        height: 62vw;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    div#imgsT>div.maior{
        width: 72%;
        height: 100%;
    }
    div#imgsT>div.maior>img{
        width: 99%;
        object-fit: cover;
    }
    div#imgsT>div.menor{
        display: flex;
        flex-flow: column;
        width: 20%;
        height: 100%;
        justify-content: space-between;
        align-items: flex-end;
        gap: 6%;
    }
    div#imgsT>div.menor>img{
        width: 100%;
        flex: 1 0 auto;
        object-fit: cover;
        height: 28%;
    }
    /*Mosaico de formas retangulares*/
    div#mosaicFR{
        width: 90%;
        margin: auto;
        padding-bottom: 24px;
        border-radius: 0;
    }
    div#mosaicFR>h2{
        width: 90%;
        margin: auto;
        padding: 26px 0px;
    }
    div#mosaicFR>div.imgs{
        width: 90%;
        margin: auto;
    }

    /*Mosaico de formas curvas*/
    div#mosaicFC{
        width: 90%;
        margin: auto;
        margin-bottom: 26px;
        padding-bottom: 20px;
        border-radius: 0px 0px 7px 7px;
    }
    div#mosaicFC>div.txt{
        width: 90%;
        margin: auto;
        padding-bottom: 28px;
    }
    div#mosaicFC>div.txt>h2{
        margin: 0;
    }
    div#mosaicFC>div.imgs{
        width: 90%;
        margin: auto;
    }
    div#mosaicFC>div.imgs img{
        object-position: top center;
    }

/*Circulos*/
    div#cir{
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        padding: 24px 0px;
    }
    div#cir>h2{
        width: 90%;
        margin: auto;
        margin-bottom: 24px;
    }
    div#cir>p{
        width: 90%;
        margin: auto;
        margin-bottom: 24px;
    }
    div#imgs_cir{
        width: 90%;
        margin: auto;
    }

/*Linhas*/
div#li{
    margin: auto;
    width: 90%;
    height: 130vw;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
div#li>div.imgs3{
    overflow-x: hidden;
    overflow-y: hidden;
}

/*Folhas*/
div#folhas{
    width: 90%;
    margin: auto;
    padding: 26px 0px;
    border-radius: 9px;
    background-color: rgb(52, 52, 52);
    box-shadow: inset 0 0 15px #0000006d;
    border: 1px solid rgb(14, 14, 14);
    height: 25px;
    overflow-y: hidden;
}
div#folhas>div.txt{
    padding: 0px;
    width: 85%;
    box-sizing: border-box;
    margin: auto;
}
div#folhas>div.txt>h3{
    margin-top: 0px;
    margin-bottom: 26px;
    color:#91c049;
    width: 80%;
    font-size: 1.35em;
}
div#folhas>div.txt>span{
  top: -10px;
}
div#folhas>div.txt>p{
    margin: auto;
    margin-bottom: 24px;
    padding: 0px;
    color: white;
    width: 100%;
}
div#folhas>div.txt>p>a{
    color:#A8DF54;
}

div#gFol{
    width: 88%;
    margin: auto;
}
div#gFol img{
 box-shadow: 2px 2px 4px rgb(28, 28, 28);
 border: 1px solid rgb(23, 23, 23);
}

aside{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 90%;
    margin: auto;
}
    aside>h3{
        font-size: 1.2em;
        text-align: center;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        padding: 20px 10px;
        margin: 0px;
        color: white;
        background-color: rgb(30, 30, 30);
        box-sizing: border-box;
    }

div#gatos{
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(40, 40, 40);
    padding-top:24px;
    padding-bottom: 0px;
    position: relative;
}
    div#gatos>div{
        width: 42%;
        height: 50vw;
        border-radius: 15px;
        box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.245);
        margin-bottom: 6%;
    }

    div#gatos>div>img{
        width: 100%;
        height: 40vw;
        object-fit: cover;
        object-position: top;
        box-shadow: none;
        border-radius: 10px 10px 0px 0px;
    }
    div#gatos>div>p{
        width: 100%;
        background-color: rgb(223, 223, 223);
        border-radius: 0px 0px 10px 10px;
        padding: 7px 0px;
        text-align: center;
        margin: 0;
        margin-top: -5px;
        border: 1px solid white;
    }

footer{
    display: block;
    padding: 20px 0px;
    margin: auto;
    background-color: black;
    color: white;
}
footer> div#sobre{
    width: 90%;
    margin-left: 5%;
}}